.button {
	width: 160px;
	height: 48px;
	background-color: #FFFFFF;
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	flex-grow: 0;
}

.button:hover {
	cursor: pointer;
}

.icon {
	width:14px;
	height: 13px;
	margin-right: 8px;
}

.icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button-text {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #1A1A1A;
}